<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link th:href="@{/styles/global.css}" rel="stylesheet" />
    <title>KWIX | Recently Deleted Paystubs</title>
  </head>
  <body>
	<nav>
		<a href="/">KWIX</a>
		<a href="/employees">Employees</a>
		<a href="/payroll">Payroll</a>
		<span class="ver" th:text="${ver}"></span>
	</nav>
	<div class="content">
	<a href="/payroll" class="arrow">←</a>
		<h2>Recently Deleted Paystubs</h2>
		<hr />
		<p>**<span style="color:#cc2900;">CAUTION:</span> Deleting a Paystub here is permanent!**</p>
		<div th:if="${userMessage}" th:utext="${userMessage}" ></div>
		<div>
			<table>
			    <tr>
					<th>Paystub</th>
			        <th>Employee Id</th>
					<th>Employee</th>
					<th>Day Worked</th>
			        <th>Jobsite</th>
			        <th>Pay</th>
					<th>Hours Worked</th>
					<th>Created</th>
					<th>Deleted</th>
					<th>Restore</th>
					<th>**Delete**</th>
			    </tr>
			    <tr th:if="${paystubs.isEmpty()}">
			        <td colspan="7">No paystubs have been deleted...</td>
			    </tr>
			    <tr th:unless="${paystubs.isEmpty()}" th:each="paystub : ${paystubs}">
					<td th:text="${paystub.id}"></td>
					<td th:text="${paystub.employeeId}"></td>
					<td th:text="${paystub.fullName}"></td>
					<td th:text="${payrollCtrlr.formatedDate(paystub.dayWorked)}"></td>
					<td th:text="${paystub.jobsite}"></td>
					<td th:text="${paystub.pay}"></td>
					<td th:text="${paystub.hoursWorked}"></td>
			        <td th:text="${paystub.createAt}"></td>
			        <td th:text="${paystub.updateAt}"></td>
					<td><button id="restore" type="button" class="restore" th:onclick="window.location.href='/restorepaystub/'+[[${paystub.id}]]">Restore</button></td>
					<td><button id="delete" type="button" class="delete" style="display:block; margin:0 auto;" th:onclick="window.location.href='/deletedpaystubs/'+[[${paystub.id}]]">Delete</button></td>
			    </tr>
			</table>
		</div>
	</div>
  </body>
</html>